* {
  margin: 0;
  box-sizing: border-box;
}

.machine-wrap {
  display: flex;
  margin: 0 auto;
  position: relative;
}

.machine-front {
  width: 580px;
  height: 640px;
  background-color: #1e95cf;
  border-right: 3px #000000 solid;
  padding: 10px;
}

.machine-side {
  width: 3px;
  height: 640px;
  border-left: 100px solid #1e95cf;
  border-top: 15px transparent outset;
  border-bottom: 5px transparent outset;
}

.floor {
  display: flex;
  position: relative;
  margin: 10px;
}

.floor-4th {
  width: 500px;
}

.floor-3rd,
.floor-2nd {
  width: 300px;
  margin-bottom: 20px;
}

.floor-left {
  width: 50px;
  height: 90px;
  margin-right: 2px;
  background-color: #cfd4f1;
}

.floor-front {
  height: 90px;
  background-color: #cfd4f1;
}

.floor4Front {
  width: 448px;
}

.floorFront {
  width: 248px;
}

#part2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.floor-3rd {
  width: 300px;
}

.floor-2nd {
  width: 300px;
}
.floor-1st {
  width: 300px;
}

.part2-coin {
  position: relative;
  width: 220px;
  border: #000000 3px solid;
  margin-right: 10px;
}

.putcoin {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 80px;
  border: #dfbf1c 5px solid;
  background-color: #000000;
}

.item-wrap {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 25px;
}
.item-wrap .apple:last-child {
  transform: rotateZ(35deg);
  transform: rotateY(180deg);
}

.item {
  margin-right: 20px;
}

.item img {
  height: 100%;
}

.part3 {
  width: 100%;
}

.itemExit {
  width: 380px;
  height: 100px;
  margin: 0 auto;
  background-color: #000000;
  opacity: 0.6;
}

.ock-coin {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-image: url(../assets/02_vending-machine/ock-coin.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
color
#1e95cf
#cfd4f1
#dfbf1c
#e9cf47
#302d38
#000000
#dc445d

 */
